.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #EAEAEA;
    padding-top: 5px;
    
}

.agartidaktenggelam {
    margin-bottom: 5%;
    padding: 20px;
    background-image: url(https://i.ibb.co/9hGLfGS/Kelompeok-26-1.png);
}